.header {
  font-family: Arial;
  text-align: center;
  color: white;
}

.jumbotron {
  background-image: url(../img/sicily1.jpeg);
}

.column1 {
  float: left;
  width: 70%;
}

.column2 {
  padding: 6px;
  border: 2px solid grey;
  margin: 4px;
  float: left;
  width: 20%

}

.sidebar {
  text-align: center;
}
