.header {
  font-family: Arial;
  text-align: center;
  color: white;
}

.jumbotron {
  background-image: url(../img/sicily1.jpeg);
}

.navbar-inner {
  text-align: center;
  margin-top: 12px;
}

.navbar-inner li {
  display: inline;
  margin-right: 10px;
}

.column1 {
  float: left;
  width: 60%;
}

.column2 {
  padding: 6px;
  border: 2px solid grey;
  margin: 10px;
  float: left;
  width: 300px;
  background-color: #FCFCF3;
}

.sidebar {
  text-align: center;
  color: #616E7E;
}
